.banner
{
	/* padding: var(--var-padding); */
}
.banner .slide-container
{
	position: relative;
	width: 100%;
}
.banner .slide
{
	display: none;
}
.banner .slide img
{
	width: 100%;
}
.banner .btn
{
	position: absolute;
	top: 50%;
	cursor: pointer;
	/* background: red; */
	font-size: 3em;
	color: white;
	padding: 2vh 2vw;
}
.banner .btn:hover
{
	/* background: #8c8c8c7d; */
}
.banner .forward
{
	right: 0;
}
.banner .slide .content
{
	position: absolute;
	bottom: 30%;
	left: 10%;
}
.banner .slide .content .slogan
{
	/* background: red; */
    border-left: 5px solid yellow;
    border-bottom: 5px solid yellow;
    padding: 1vh 5vw 1vh 1vw;
    align-content: center;
}
.banner .slide .content .slogan h2
{
	color: yellow;
	font-size: 3em;
}
.banner .slide .content .slogan p
{
	color: white;
	font-size: 3em;
}
.banner .slide .content .shop-btn	
{
	border: none;
    padding: 1vh 2vw;
    margin-top: 1vh;
    background: linear-gradient(45deg, #bcbcbc, #ffff0080);
    color: black;
    font-size: 2em;
    outline: none;
    transition: 0.3s;
}
.banner .slide .content .shop-btn:hover
{
	background: white;
	color: green;
	box-shadow: -1px 1px 2px #99999996;
}
